version: '3.5'

services:
  laperillatxt-app:
    container_name: laperillatxt-app
    build:
      context: docker/php-apache
      args:
        UID: $U_ID
    volumes:
      - ./:/var/www/html
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: host.docker.internal
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=laperillatxt-server
    ports:
      - '1000:80'
    networks:
      - laperillatxt-network
    depends_on:
      - laperillatxt-mysql

  laperillatxt-mysql:
    container_name: laperillatxt-mysql
    build:
      context: ./docker/database
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: laperillatxt_database
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - laperillatxt-mysql-data:/var/lib/mysql
    networks:
      - laperillatxt-network
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

networks:
  laperillatxt-network:

volumes:
  laperillatxt-mysql-data: